{% extends 'layouts/tienda.html' %}

{% load cart_tags %}

{% block title %}Mis pedidos{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Total</th>
                                <th>Fecha</th>
                                <th>Estado de Venta</th>
                                <th>Proforma</th>
                                <th>Factura</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in object_list %}
                                <tr>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.total|money_format:"$" }}</td>
                                    <td>{{ order.created_at|date:'d/m/Y H:i' }}</td>
                                    {% if order.comprado %}
                                    <th><span class="badge badge-success">COMPLETADA</span></th>
                                    {% else %}
                                    <th><span class="badge badge-warning">PENDIENTE</span></th>
                                    {% endif %}
                                    <td><a href="{% url 'order_detail' order.id %}" class="btn btn-info btn-sm">Ver detalle</a></td>
                                    {% if order.comprado %}
                                    <td><a href="{% url 'lista_pdf' order.id %}" class="btn btn-info btn-sm">Ver Factura</a></td>
                                    {% else %}
                                    <th><span class="badge badge-warning">PENDIENTE</span></th>
                                    {% endif %}

                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4">
                                        <div class="alert alert-danger">No tienes ningún pedido todavía.</div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}