{% extends 'layouts/tienda.html' %}

{% load cart_tags %}

{% block title %}Tienda{% endblock %}

{% block content %}   

    <!--Cuandro de busqueda de prueba-->
    <form method="get" class="form-inline justify-content-center">
        <input class="w-50 mr-2" type="text" value="{{ search}}" name="search" placeholder="Buscar..." class="form-control form-control"> </input>

        <select name="category_id" class=" w-25 form-control form-control-sm mr-2">
            <option value="">Categorias</option>
            {% for c in categories %}
                <option 
                
                {% if category_id == c.id %} selected {% endif %}
                
                value="{{c.id}}">{{c.name}}</option>
            {% endfor %} 
        </select>

        <button class="btn btn-primary btn-sm" type="submit">Buscar</button>
    </form>
    <br>

    <!--productos y carrito-->
    <div class="row">
        <div class="col-9">
            <div class="row">
                {% for product in products %}
                {% if product.stock > 0 %}
                    <div class="col-md-3 col-sm-12 col-lg-4">
                        <div class="card" style="width: 100%" position="relative" display="flex" padding="1rem">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" width="60px" height="200px"/>
                            <div class="card-body">
                                <h5 class="card-title text-center" > {{ product.name }}</h5>
                                <p class="card-text" style="height: auto">{{ product.detail | truncatechars:'200' }}</p>
                                <p class="card-text text-center"><b>Precio: {{ product.price }}$ </b></p>
                                <p class="card-text text-center"><span class="badge badge-success ">En Existencia</span></p>
                            </div>
                            <div class='card-footer text-center'>
                                <a href="{% url 'cart:add_product' product.id %}" class="btn btn-success">Añadir al carrito</a>
                            </div>
                        </div>
                    </div> 
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="col-3">
            {% include "cart/widget.html" %}
        </div>      
    </div>
{% endblock %}